<template>
     <layout>
          <div class="container">
               <div class="row">
                    <div class="col-md-12">
                         <p>This Is Home Page</p>
                         <h1>Welcome {{ first_name }}, {{  last_name }}</h1>
                         <inertia-link href="http://localhost/inertia_blog/public/blog/create">Create Blog</inertia-link>

                    </div>
               </div>
          </div>
               
     </layout>
</template>

<script>
import Layout from '../../Shared/Layout.vue';

export default {
     components:{
          Layout
     },
     props :['first_name','last_name','email']
}
</script>