<template>
     <layout>
          <div class="container">
               <div class="row">
                    <div class="col-md-12">
                              <h2>Create Blog</h2>
                              <form  @submit.prevent="saveBlog">
                                   <div class="row">
                                        
                                        <div class="col-md-6">
                                             <div class="form-group">
                                                  <label for="title">Title:</label>
                                                  <input type="text" class="form-control" placeholder="Enter Title"  v-model="blog.title">
                                             </div>
                                        </div>
                                        <div class="col-md-6">
                                             <div class="form-group">
                                                  <label for="sub_title">Sub Title:</label>
                                                  <input type="text" class="form-control"  placeholder="Enter Sub Title" v-model="blog.sub_title" >
                                             </div>
                                        </div>
                                        <div class="col-md-12">
                                             <div class="form-group">
                                                  <label for="title">Image:</label>
                                                  <input type="file" class="form-control p-1"  >
                                             </div>
                                        </div>
                                        <div class="col-md-12">
                                             <div class="form-group">
                                                  <label for="title">Description:</label>
                                                  <textarea   v-model="blog.description"  rows="10" placeholder="Enter Description" class="form-control"></textarea>
                                             </div>
                                        </div>
                                   <button type="submit" class="btn btn-primary">Submit</button>
                                   </div>
                              </form>
                    </div>
               </div>
          </div>
         
     </layout>
</template>


<script>
import Layout from '../../Shared/Layout.vue';

export default {
      components:{
          Layout
     },
     data(){
          return{
               blog:{
                    title : "",
                    sub_title : "",
                    image : "",
                    description : ""
               },
          }
     },
     methods:{
          async saveBlog(e){
               console.log(this.blog);
               let response = this.$inertia.post(this.$route('blog.store'), this.blog);

               console.log(response);
               e.preventDefault();
          }
     }
}
</script>