<template>
     <layout>
          <div class="container">
               <div class="row mt-5">
                    <div class="col-md-12">
                              <div class="row">
                                   <div class="col-md-10">
                                        <h4><b>Blog Listing</b></h4>
                                   </div>
                                   <div class="col-md-2 ">
                                    <inertia-link :href="$route('blog.create')" class="btn btn-primary float-right mb-2">Add Blog</inertia-link>
                                   </div>
                              </div>
                              <table class="table table-bordered">
                                   <thead>
                                        <tr>
                                        <th>Title</th>
                                        <th>Sub Title</th>
                                        <th>Description</th>
                                        <th>Image</th>
                                        <th>Created At</th>
                                        <th>Action</th>
                                        </tr>
                                   </thead>
                                   <tbody>
                                        <tr v-for="blog in blogs.data" :key="blog.id">
                                        <td>{{ blog.title }}</td>
                                        <td>{{ blog.sub_title }}</td>
                                        <td>{{ blog.image }}</td>
                                        <td>{{ blog.description }}</td>
                                        <td>{{ blog.created_at }}</td>
                                        <td>
                                         <inertia-link :href="$route('blog.edit',{ id : blog.id })" class="btn btn-sm btn-warning ">Edit</inertia-link>
                                         <inertia-link :href="$route('blog.delete',{ id : blog.id })" class="btn btn-sm btn-danger ">Delete</inertia-link>
                                        </td>
                                        </tr>
                                   </tbody>
                              </table>
                              <pagination :link="blogs.links"></pagination>
                    </div>
               </div>
          </div>
         
     </layout>
</template>


<script>
import Layout from '../../Shared/Layout.vue';
import Pagination from '../../Shared/Pagination.vue';

export default {
      components:{
          Layout,
          Pagination
     },
     date(){
          return {
               currentPage : 0,
               nextPage : 0,
               totalPage  : 0
          } 
     },
     props: {
          blogs: {
               type : Object
          }
     },
     mounted(){
          // console.log(this.blogs.links);
     }
}
</script>