<template>
     <div>
          <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
            <div class="container">
                 <inertia-link :href="$route('Dashboard')" class="navbar-brand">Home</inertia-link>
                <inertia-link :href="$route('blog.index')">My Blog</inertia-link>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Left Side Of Navbar -->
                    <ul class="navbar-nav mr-auto">

                    </ul>

                    <!-- Right Side Of Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Authentication Links -->
                       
                            <li class="nav-item dropdown">
                                <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>
                                   Admin Master
                                </a>

                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#" @click="handelLogout">
                                        Logout
                                    </a>
                                    <!-- <inertia-link href="http://localhost/inertia_blog/public/logout" method="post">Logout</inertia-link> -->
                                </div>
                            </li>
                    </ul>
                </div>
            </div>
          </nav>

          <slot />
     </div>
</template>


<script>
import axios from 'axios';
export default {
     methods:{
         async handelLogout(){
               await axios.post("http://localhost/inertia_blog/public/logout",{});
               window.location.href = "http://localhost/inertia_blog/public/login";
          }
     }
}
</script>