<template>
     <div>
          <ul class="pagination" v-for="lk in link" :key="lk">   
               <li class="page-item">
                    <inertia-link :href="lk.url" class="page-link">{{ lk.label }}</inertia-link>
               </li>
          </ul>
     </div>
</template>

<script>
export default {
     props: {
          link: {
               type : Array
          }
     },
     mounted(){

          console.log(this.link);
     }
}
</script>